{% extends 'base.html' %}

{% block title %}Rock, Paper, Scissors{% endblock %}

{% block main %}

{% if is_logged_in == False %}

<h1> please log in </h1>

<form action = "/" method = "post">
	<label for "username"> Username </label>
	<input type="username" name="username" value="" required>
	<input type = "submit" value ="Log in">
</form>

{% set logged_in = True %}

{% elif new == True %}

<h1>Rock, Paper, Scissors</h1>

<form action = "/select" method = "post">
	<input type="submit" name="selection" value="Rock">
	<input type="submit" name="selection" value="Paper">
	<input type="submit" name="selection" value="Scissors">
</form>
<!--<button onClick="window.location.reload();">Refresh Page</button> -->

<h1> This page is {{ new }} </h1>

{% else %}

<h1> You chose </h1>

<h2> {{ selection }} </h2>

<h1> Computer chose </h1>

<h2> {{ cpu_select }} </h2>

{% endif %}
{% endblock %}
